# Bengaluru Food Affordability & Popularity Analysis
This notebook explores restaurant trends in Bengaluru using Python. The goal is to practice beginner-level data analytics skills.

## Import Libraries

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(style='whitegrid')

## Load Dataset

In [ ]:
df = pd.read_csv('BangaloreZomatoData.csv')
df.head()

## Data Cleaning
Check for missing values and drop duplicates.

In [ ]:
df.info()
df.isnull().sum()
df.drop_duplicates(inplace=True)
print('Cleaned dataset shape:', df.shape)

## Exploratory Data Analysis
### Distribution of Ratings

In [ ]:
plt.figure(figsize=(6,4))
sns.histplot(df['Rating'].dropna(), bins=10)
plt.title('Distribution of Ratings')
plt.xlabel('Rating')
plt.ylabel('Count')
plt.show()

### Top 10 Cuisines

In [ ]:
top_cuisines = df['Cuisines'].value_counts().head(10)
plt.figure(figsize=(8,5))
sns.barplot(x=top_cuisines.values, y=top_cuisines.index, palette='viridis')
plt.title('Top 10 Cuisines in Bengaluru')
plt.xlabel('Count')
plt.ylabel('Cuisine')
plt.tight_layout()
plt.savefig('figures/top_cuisines.png')
plt.show()

## Key Insights
- Most popular cuisines include North Indian, Chinese, and South Indian.
- Ratings cluster between 3.0 and 4.5.
- Certain areas show higher average costs.

## Conclusion
This analysis provides a basic understanding of Bengaluru's food trends. This project showing how Python, Excel, and SQL can be combined for data analytics.